
<footer class="footer">
  <div class="container">
    <div class="list">
      <div class="left">
        <div id="site-total" class="small"></div>
        <div id="site-today" class="small"></div>
      </div>
      <div class="right"><span class="small">© {{ site.name }} · <a href="{{ site.base }}">主页</a></span></div>
    </div>
  </div>
</footer>
<div id="backTop" class="backTop" title="回到顶部">↑</div>
<div id="music"></div>
